<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <input id="user" type="text" name="name" />
    <input id="pwd" type="password" name="password" />
    <input id="check" type="checkbox" name="auto" value="1" />7天免登录
    <input type="button" value="登录" onclick="SubmitForm();" />
    <script>
        xhr = null;
        function SubmitForm() {
            xhr = new XMLHttpRequest();
            xhr.open("POST","/login",true);
            xhr.onreadystatechange = func;    //回调函数,只要状态改变
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset-UTF-8');   //只有post的时候才需要设置请求头
            //xhr.send("username=alex;password=123");
            xhr.send("username="+document.getElementById('user').value+";password="+document.getElementById('pwd').value);
        }
        function func() {
            console.log(xhr.readyState);
            if (xhr.readyState == 4){
                console.log("状态为4");
                console.log(xhr.responseText);     //返回内容
                var data = xhr.responseText;      //获取self.write返回的数据
                var ret_dic = JSON.parse(data);
                if(ret_dic.status){

                }else{
                    alert(ret_dic.message);
                }
            }


        }
    </script>


</body>
