<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <input id="user" type="text" name="name" />
    <input id="pwd" type="password" name="password" />
    <input id="check" type="checkbox" name="auto" value="1" />7天免登录
    <input type="button" value="登录" onclick="SubmitForm();" />
    <script src="{{ static_url('jquery.js')}}"></script>
    <script>
        function SubmitForm() {
            //$.post('/login',{'username':'alex','password':'123'},function (callback) {
            $.post('/login',{'username':$('#user').val(),'password':$('#pwd').val()},function (callback) {
                console.log(callback)

            })
        }
    </script>


</body>
